In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.ndimage.measurements import center_of_mass

In [67]:
points = pd.read_pickle("data/ruffling_2d/contours.pkl")

In [61]:
points.loc[0, 'x'].values

array([419, 420, 421, ..., 354, 356, 355])

In [64]:
cxs = []
cys = []
for iframe in points.index.levels[0]:
    x = points.loc[iframe, 'x'].values.astype(np.float)
    y = points.loc[iframe, 'y'].values.astype(np.float)
    
    cx, cy = np.mean(x), np.mean(y)
    cxs.append(cx)
    cys.append(cy)

    # convert to polar coordinate system with respect to the COM
    x -= cx
    y -= cy
    points.loc[iframe, 'r'] = pd.Series(np.sqrt(x**2 + y**2))
    points.loc[iframe, 'th'] = pd.Series(np.arctan2(y, x))

com = pd.DataFrame({'cx': cxs, 'cy': cys})
com.to_pickle("data/ruffling_2d/com.pkl")

In [68]:
points

          x    y
0 0     419   96
  1     420   96
  2     421   96
  3     422   96
  4     423   96
  5     424   96
  6     418   97
  7     425   97
  8     418   98
  9     425   98
  10    413   99
  11    414   99
  12    415   99
  13    416   99
  14    417   99
  15    425   99
  16    412  100
  17    425  100
  18    411  101
  19    425  101
  20    411  102
  21    425  102
  22    412  103
  23    425  103
  24    412  104
  25    425  104
  26    412  105
  27    425  105
  28    413  106
  29    425  106
...     ...  ...
4 3045  451  712
  3046  452  712
  3047  453  712
  3048  454  712
  3049  455  712
  3050  456  712
  3051  457  712
  3052  458  712
  3053  463  712
  3054  469  712
  3055  470  712
  3056  471  712
  3057  472  712
  3058  473  712
  3059  474  712
  3060  475  712
  3061  476  712
  3062  477  712
  3063  478  712
  3064  479  712
  3065  480  712
  3066  459  713
  3067  460  713
  3068  461  713
  3069  462  713
  3070  464  713
  3071  465  713
  3072  466  713
  3073  467  713
  3074  468  713

[16446 rows x 2 columns]

In [69]:
cardinal_map = pd.read_pickle("data/ruffling_2d/cardinal_map.pkl")

In [70]:
cardinal_map

      distance
0 0   0.996536
  1   0.778887
  2   0.739879
  3   0.664922
  4   0.732968
  5   0.770473
  6   0.972187
  7   0.779906
  8   0.750816
  9   0.917915
  10  0.875660
  11  0.941412
  12  0.877625
  13  0.946264
  14  0.880118
  15  1.000000
  16  0.983291
  17  0.877850
  18  0.896359
  19  0.920129
  20  0.951093
  21  0.592298
  22  0.587551
  23  0.950469
1 0   0.926496
  1   0.716917
  2   0.695100
  3   0.594607
  4   0.658450
  5   0.756205
...        ...
3 18  0.824861
  19  0.736781
  20  0.758544
  21  0.530507
  22  0.297524
  23  0.851206
4 0   0.830626
  1   0.660609
  2   0.650454
  3   0.558739
  4   0.580998
  5   0.647732
  6   0.998676
  7   1.000000
  8   0.554910
  9   0.666640
  10  0.632727
  11  0.718198
  12  0.730785
  13  0.755792
  14  0.752420
  15  0.875503
  16  0.882210
  17  0.838627
  18  0.801724
  19  0.761276
  20  0.758567
  21  0.526332
  22  0.313929
  23  0.756875

[120 rows x 1 columns]